<div class="center jumbotron">
    <h3>Learning English Now</h3>
    
  <% if user_signed_in? %>
    <%= link_to "Create new plan", new_plan_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>