@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 65px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h6 {
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h4 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  //color: blue;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */


#logo {
  float: left;
  margin-right: 20px;
  font-size: 2.6em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#search_bar {
  padding-top: 2.5px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    .timestamp {
      color: $gray-light;
      display: block;
      margin-left: 0px;
      font-size: 80%;
  }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* link */
a {
  &:link {
    text-decoration: none;
  }
  &:hover {
    color: medium-light-blue;
  }
}

/* questions */

.questions {
  list-style: none;
  padding: 0;
  li {
    margin-top: 15px;
    padding: 10px 0px;
    margin-bottom: 10px;
    border-top: 1px solid #e8e8e8;
  }
  .title {
    margin-top: 5em;
    padding-top: 0;
    font-size: 175%;
  }
  .content {
    display: block;
    margin-top: 15px;
    margin-left: 0px;
    font-size: 100%;
    border-radius: 20px 100px 100px 100px;
    border: 2px red;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 0px;
    font-size: 80%;
  }
}

/* answer */
.answer {
  li {
      border-top: 1px solid #e8e8e8;
  }
  .content {
    resize:horizon; 
    max-height:80px; 
    min-height:50px;
    background-color: grey;
  }
  .button_answer {
    width: 5px;
    height: 5px;
  }
}

hr {
    margin-top: 0.3em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
}
hr.redesign {
  width: 95%;
  margin-right: 0px;
}
/* area for content of answer */
.panel-success {
  width: 95%;
  margin-left: auto;
  margin-bottom: 5px;
  .panel-heading {
    height: 50px;
  }
}

.area-author {
    margin-left: auto;
    width: 250px;
    height: 60px;
    border-radius: 1px;
    border-style: none;
    border-width: 0.5px;
    background-color: #E0EAF1;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-left: 5px;
}

.actions {
  margin-bottom: 10px;
}